#navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 80vh;
    background-color: #ebebeb;
}

#navBar #titleContainer {
    display: flex;
    align-items: center;
    width: 100%;
    background: #371b58;
    padding: 32px 32px 70px;
    justify-content: center;
    color: #ffffff;
    gap: 60px;
    height: 100%;
}

#navBar #titleContainer #imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#navBar #titleContainer .circle {
    background-color: #ebebeb;
    border-radius: 50%;
    width: 315px;
    height: 315px;
    right: -140px;
    position: absolute;
    border: 40px #371b58;
    border-style: double;
}

#navBar #titleContainer #profileImage {
    border-radius: 50%;
    width: 300px;
    border: 4px solid #371b58;
    z-index: 2;
}
#navbar #titleContainer #description {
    background: #43276533;
    border-radius: 6px;
    padding: 36px;
    width: 360px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#navBar h1,
#navBar h2 {
    user-select: none;
    color: #ffffff;
    margin-bottom: 6px;
    font-size: 28px;
}
#navBar h2 {
    margin-bottom: 48px;
    text-align: left;
}
#navbar #titleContainer #description p {
    text-align: left;
    font-size: 18px;
}
#navBar ul {
    background-color: #ffffff;
    display: flex;
    list-style: none;
    align-items: center;
    border-radius: 50px;
    gap: 23px;
    margin-top: -32px;
    height: 64px;
    padding: 32px;
    box-shadow: 1px 1px 3px #8e8e8e;
}


#navBar li {
    height: 100%;
    display: flex;
    align-items: center;
}
#navBar li a {
    text-decoration: none;
    color: #000000;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
}

#navBar li a:hover{
    background-color: #beb1d478;
}

